<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Untitled</title>

    <link rel="stylesheet" href="/css/styles.css" />
  </head>

  <body>
    <div class="footer-basic">
      <footer>
        <ul class="list-inline">
          <li class="list-inline-item"><a href="/dashboard">Home</a></li>
          <li class="list-inline-item"><a href="/profile">Profile</a></li>
          <li class="list-inline-item"><a href="/uploadpage">Upload</a></li>
          <li class="list-inline-item"><a href="/logout">Logout</a></li>
        </ul>
        <p class="copyright">MUSE © 2024 | Tejasvi Parmar</p>
      </footer>
    </div>
  </body>
</html>
