<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/assets/css/styles.css" />
  </head>
  <body>
    <header class="main-header">
      <div class="logo-container">
        <a href="/dashboard" style="text-decoration: none">
          <h1>MUSE</h1>
        </a>
      </div>
      <div class="orange-line"></div>
      <ul class="nav-links">
        <li class="forward"><a href="/dashboard">Home</a></li>
        <li class="forward"><a href="/profile">Profile</a></li>
        <li class="forward"><a href="/uploadpage">Upload</a></li>
        <li class="forward"><a href="/logout">Logout</a></li>
      </ul>
    </header>
  </body>
</html>
